.loading .brand-container {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #00B4BF;

    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
.loading .brand-items {
    opacity: 0;
}


@-webkit-keyframes spin {
    0%  {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%  {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Brands Loaded*/
/*Products Loaded*/
.loaded .brand-container {
    width: 100%;
    margin: 0 auto;

    -webkit-transition: all .35s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition: all .35s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -ms-transition: all .35s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition: all .35s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all .35s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded .brand-items {
    opacity: 1;

    -webkit-transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -ms-transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loader, .brand-items {
    opacity: 0;
}
.loading-more .loader {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #00B4BF;
    opacity: 1;

    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
.loaded-more .loader {
    opacity: 0;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.loaded-more .brand-items {
    opacity: 1;

    -webkit-transition: all 1s .1s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition: all 1s .1s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -ms-transition: all 1s .1s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition: all 1s .1s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 1s .1s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.no-more {
    opacity: 1;
    color: #afafaf;

    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}