/* Product quick view animation
----------------------------------------------------------------------*/
.product-quickview-popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.66);
    z-index: 10000;
}
.product-quickview-popup {
    position: absolute;
    left: 0;
    top: 10%;
    right: 0;
    max-width: 900px !important;
    height: auto;
}
.product-quickview-popup .product {
    overflow: auto;
}
.product-quickview-popup-container.pre-loading {
    opacity: 0;
    display: none;
}
.pre-loading .product-quickview-popup {
    opacity: 0;
}
.product-quickview-popup-container.loading {
    opacity: 1;
    display: block;

    -webkit-transition: all .8s .4s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition: all .8s .4s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -ms-transition: all .8s .4s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition: all .8s .4s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all .8s .4s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loading .product-quickview-popup .product {
    opacity: 0;
}
.loading .product-quickview-popup {
    opacity: 1;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #868383;
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;

    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
.loaded .product-quickview-popup {
    width: fit-content;
    height: auto;
    margin: 0 auto;

    -webkit-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -ms-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded .product-quickview-popup .product {
    opacity: 1;

    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
.exit .product-quickview-popup {
    opacity: 0;

    -webkit-transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -ms-transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.product-quickview-popup-container.exit {
    opacity: 0;

    -webkit-transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -ms-transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

/* Product Image Slider
--------------------------------------------------------------------------*/
.carousel-inner { margin: auto; width: 90%; }
.carousel-control 			 { width:  4%; }
.carousel-control.left,
.carousel-control.right {
    background-image:none;
}

.glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    margin-top:-10px;
    margin-left: -10px;
    color: #444;
}

.carousel-inner a {
    display: table-cell;
    height: 180px;
    width: 200px;
    vertical-align: middle;
}

.carousel-inner img {
    max-height: 150px;
    margin: auto auto;
    max-width: 100%;
}



@media (max-width: 767px) {
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

}
@media (min-width: 767px) and (max-width: 992px ) {
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}
@media (min-width: 992px ) {

    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(16.7%, 0, 0);
        transform: translate3d(16.7%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-16.7%, 0, 0);
        transform: translate3d(-16.7%, 0, 0);
    }

}