/* Popular category loading animation
------------------------------------------------------------------*/
.loading .popular-categories-container {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #00B4BF;

    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
.loading .popular-categories-container:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #22d8d2;

    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
.loading .popular-categories-container:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #00b4ae;

    -webkit-animation: spin .74s linear infinite;
    animation: spin .74s linear infinite;
}

@-webkit-keyframes spin {
    0%  {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%  {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loaded .popular-categories-container {
    width: 100%;
    height: 120px;
    margin: 0 auto;

    -webkit-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -ms-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

/*Show more button animation*/
.popular-category-show-more-container {
    margin-top: -20px;
    opacity: 0;
}
.loaded.popular-category-show-more-container {
    margin-top: 0;
    opacity: 1;

    -webkit-transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -ms-transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loading-ring.popular-category-show-more-container {
    opacity: 1;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #868383;
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;

    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
.category-block {
    opacity: 0;
}
.loaded.category-block {
    opacity: 1;

    -webkit-transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -ms-transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}



/* New Products loading animation
------------------------------------------------------------------*/
.loading .new-products-container {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #00B4BF;

    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.loading .new-products-container:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #22d8d2;

    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
.loading .new-products-container:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #00b4ae;

    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

.loaded .new-products-container {
    width: 100%;
    height: 120px;
    margin: 0 auto;

    -webkit-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -ms-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

/*Show more button animation*/
.new-products-show-more-container {
    margin-top: -20px;
    opacity: 0;
}
.loaded.new-products-show-more-container {
    margin-top: 0;
    opacity: 1;

    -webkit-transition: all 1.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition: all 1.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -ms-transition: all 1.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition: all 1.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 1.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loading-ring.new-products-show-more-container {
    opacity: 1;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #868383;
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;

    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
.new-products-block {
    opacity: 0;
}
.loaded.new-products-block {
    opacity: 1;

    -webkit-transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -ms-transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}



/* New Products loading animation
------------------------------------------------------------------*/
.loading .featured-products-container {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #00B4BF;

    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.loading .featured-products-container:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #22d8d2;

    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
.loading .featured-products-container:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #00b4ae;

    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

.loaded .featured-products-container {
    width: 100%;
    height: 120px;
    margin: 0 auto;

    -webkit-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -ms-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

/*Show more button animation*/
.featured-products-show-more-container {
    margin-top: -20px;
    opacity: 0;
}
.loaded.featured-products-show-more-container {
    margin-top: 0;
    opacity: 1;

    -webkit-transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -ms-transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loading-ring.featured-products-show-more-container {
    opacity: 1;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #868383;
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;

    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
.featured-products-block {
    opacity: 0;
}
.loaded.featured-products-block {
    opacity: 1;

    -webkit-transition: all 1.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition: all 1.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -ms-transition: all 1.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition: all 1.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 1.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}