<div class="white-popup product-quickview-popup">
    <div class="product">
        <div class="product-media">
            <div class="product-quickview-slider owl-carousel owl-carousel-inset">
                <div>
                    <img src="images/products/large.jpg" alt="">
                </div>
                <!--<div>-->
                    <!--<img src="img/samples/products/quickview/large.jpg" alt="">-->
                <!--</div>-->
            </div>
        </div>
        <!-- /.product-media -->

        <div class="product-body">
            <h2 class="product-name">
                <a href="product-quick-view.html#" title=" Gin Lane Greenport Cotton Shirt"> WHITE GLO ACTIVATED CHARCOAL TEETH WHITENING POWDER 30g</a>
            </h2>
            <!-- /.product-name -->

            <div class="product-status">
                <span>In Stock</span>
                <span>-</span>
                <span>SKU: 12345678</span>
            </div>
            <!-- /.product-status -->

            <div class="product-price">
                <span class="amount">$60</span>
            </div>
            <!-- /.product-price -->

            <div class="product-description">
                <p>ACTIVATED CHARCOAL TEETH WHITENING POWDER<br/><br/>

                    - Natural Activated Charcoal penetrate and draws out stubborn stains, traps colour particles,
                    fights bad breath and whitens teeth enamel.<br/><br/>

                    - Treatment used in additional to regular brushing</p>
            </div>

            <div class="product-list-actions-wrapper">
                <form action="product-quick-view.html" method="POST">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="p_color">Color</label>
                                <select name="p_color" id="p_color" class="form-control">
                                    <option value="">Blue</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="p_size">Size</label>
                                <select name="p_size" id="p_size" class="form-control">
                                    <option value="">100ml</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="p_qty">Qty</label>
                                <select name="p_qty" id="p_qty" class="form-control">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- /.form -->

                <div class="product-list-actions">
                    <button class="btn btn-lg btn-primary">Add to cart</button>
                    <button class="btn btn-lg btn-dark btn-outline">Add to wishlist</button>
                </div>
                <!-- /.product-actions -->
            </div>

            <div class="product-meta">
                <span class="product-category">
                    <span>Category:</span>
                <a href="product-quick-view.html#" title="">Oral Care</a>
                </span>

                <span>-</span>

                <span class="product-tags">
                    <span>Tags:</span>
                <a href="product-quick-view.html#" title="">Tooth Care</a>
                </span>
            </div>

        </div>
        <!-- /.product-body -->
    </div>
</div>

<script>
    $(function() {
        $('.product-quickview-slider').owlCarousel({
            items: 1,
            nav: true,
            dots: false
        });
    });
</script>
